.group:hover .group-hover\:opacity-100 {
  opacity: 1;
}

.group:hover .group-hover\:translate-x-0 {
  transform: translateX(0);
}

.group-hover\:opacity-100 {
  opacity: 0;
}

.group-hover\:translate-x-0 {
  transform: translateX(-10px);
}
